/*-------------Var------------*/

:root{
  --blackcolor: rgb(39, 45, 47);
}


/*-------------Struc-----------*/
html, body{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: 'Ubuntu Mono', monospace;
}

.BlackEdge_image{
  padding-left: 30px;
}

img.logo{
  width: 150px; height:75px;
  filter: invert(1);

}

nav{
  display: flex;
  background-color: var(--blackcolor);
  padding: 20px;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px #000;
}

nav ul{
  padding-right: 20px;
  display: flex;
  font-size: 24px;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: #c6c9c7;
  text-decoration: none;
}

nav li a:hover{
  color: white;
}

/* ================ Contenido Principal ===================== */

.main_section{
  padding: 10%;
  text-align: center;
}

.products{

  max-height: 50px;
  padding: 20%;
  display: inherit;
}

.product{
  padding: 10px;
  margin-top: -240px;
}

.product .content{
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 15px #000;
}

.img_content{
  text-align: center;
}

.row img{
  background-color: transparent;
  width: 256px; height: 256px;
  box-shadow: 0 0 15px #000;
}

/* descripción de los productos index*/

.desc-product{
  text-align: left;
  font-size: 24px;
  margin-left: 5%;
  margin-top: 7%;
  color: var(blackcolor);
}

.desc-product2{
  text-align: right;
  font-size: 24px;
  margin-right: 5%;
  margin-top: 7%;
  color: var(blackcolor);
}

/*pie de página*/

footer{
  margin-top: 8%;
  background: var(--blackcolor);
  justify-content: space-between;
  display: flex;
  padding: 20px;
  padding-top: 20px;
  color: #f0f0f0;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
  padding: 0 50px;
}
